@import "sessions";
@import "home";

body {
  background: linear-gradient(
    90deg,
    rgb(18, 194, 91) 0%,
    rgb(2, 116, 230) 100%
  );
}

.alert-danger{
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.alert-success{
  color: #1c721f;
  background-color: #d7f8da;
  border: 1px solid #cff5c6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
